.line {
  display: block;
}

.line-abs {
  height: 1.4em;
  position: fixed;
  bottom: 0;
  width: 100vw;
  background-color: var(--primary-color);
}

.margin {
  width: 0.5em;
  margin: 0;
  display: inline-block;
  color: grey;
}

.main {
  display: inline-block;
  margin: 0;
}

.control-cursor {
  background-color: grey;
  color: grey;
}
