.App {
  /* text-align: center; */
}
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

body {
  background-color: #FEF3A1;
}

.cursor {
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes blink {
  from, to {
    background-color: black;
    color: black;
  }
  50% {
    background-color: #FEF3A1;
    color: #FEF3A1;
  }
}

@-moz-keyframes blink {
  from, to {
    background-color: black;
    color: black;
  }
  50% {
    background-color: #FEF3A1;
    color: #FEF3A1;
  }
}

@-webkit-keyframes blink {
  from, to {
    background-color: black;
    color: black;
  }
  50% {
    background-color: #FEF3A1;
    color: #FEF3A1;
  }
}

@-ms-keyframes blink {
  from, to {
    background-color: black;
    color: black;
  }
  50% {
    background-color: #FEF3A1;
    color: #FEF3A1;
  }
}

@-o-keyframes blink {
  from, to {
    background-color: black;
    color: black;
  }
  50% {
    background-color: #FEF3A1;
    color: #FEF3A1;
  }
}

.greyed {
  color: lightgrey;
}